#home,
#about,
#blog,
#interior {
  width: auto;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  max-width:100px ;
}

.container h1{
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
}